
/** HEADER **/
#header-nav {
	margin: 0px;
	background-color: gray;
	border-radius: 0;
	border: 2px solid black;
	padding: 10px;
}

.container-header{
	color: black;
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
 
}

/** h1 **/
h1{
	text-align: center;
}

/** section**/

section > div {
	background-color: gray;
	margin: 10px;

}
.section-header{
	font-size: 1.2em;
	text-align: center;
}

.content{
	padding: 10px;
}
