

/** HEADER **/
#header-nav {
	
	background-color: gray;
	border-radius: 0;
	border: 2px solid black;
}

.container-header{
	color: black;
	font-size: 2em;
}

.container{
	padding: 0px;
}

/** h1 **/
h1{
	text-align: center;
}

